* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: rgb(59, 59, 59);
  display: flex;
  align-items: center;
  color: white;
}

.nav-link a {
  color: white;
  padding: 10px;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.login {
  background-color: rgb(25, 198, 22);
  padding: 10px;
  cursor: pointer;
  color: wheat;
  width: 100px;
}
.login:hover {
  background-color: rgb(26, 164, 23);
}


.container {
  text-align: center;
  color: rgb(234, 22, 153);
  width: 100%;
  height: 90vh;
  background-position: center;
  position: relative;
}

.form-box{
  display: none;
  
}

.showForm {
  display: block;
}

.active .signup-form{
  display: block;
}
.active .login-form{
  display: none ;

}

.signup-form{
  display: none;
}

.closeForm{
  cursor: pointer;
 text-align: right;
 font-size: 20px;
 font-weight: bold;
 


}






.form-box {
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  box-shadow: 0 0 5px 2px #cccaca;
  background: #fff;
  padding: 20px 20px;
  text-align: center;
}

.input-field{
    margin: 15px 0;
    border-radius:3px;
    background: #f5f4f4;
    align-items: end;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border:0;
    outline: 0;
    padding: 18px 15px;
}

.signup{
    margin-top: 30px;
    width: 90%;
    padding: 12px 12px;
}

.signup-form{
  display: none;
}


